.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
    margin-left: 27%;
  }
  .boton_personalizado:hover{
    cursor: pointer;
  }
  .separator{
    height: 171px;
  }
  .espacioMayor{
    height: 99px;
  }
  .color_alert{
    background: #f3bc23 !important;
  }
  .fullWidth{
    margin-right: 100%;
    margin-left: 3px;
  }
  .midleWidth{
    width: 47%;
    margin-left: 10px;
    float: left;
  }
  .midle_top{
    margin-top: 40px;
  }