<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
  {{title}}
  </h1>
</div>

<div>
<div id="columUno" style="width: 33%; text-align: left; overflow: scroll; float: left; min-height: 500px;">
  <h1 style=" text-align: center; margin-left: 13px; margin-right: 13px;">Ingreso Parqueadero</h1>
  
  <app-ingreso></app-ingreso>
</div>

<div id="columDos" style="width: 33%; text-align: left; overflow: scroll; float: left; min-height: 700px;">
  <h1 style=" text-align: center; margin-left: 13px; margin-right: 13px;">Lista Parqueados</h1>
  
  <app-consulta></app-consulta>
</div>

<div id="columTres" style="width: 33%; text-align: left; overflow: scroll; float: left; min-height: 500px;">
  <h1 style=" text-align: center; margin-left: 13px; margin-right: 13px;">Salida Parqueadero</h1>
  
  <app-salida></app-salida>
</div>
</div>

